# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
release/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Cache
.cache/
*.tsbuildinfo

# Installer
rustup-init.exe

# 文档
/docs/*
!/docs/index.html

# 脚本
/scripts/

# 原型稿
/assets/
